DATABASE_HOST=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_URL=

# GitHub OAuth (Main application)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# GitHub OAuth for Waitlist
WAITLIST_GITHUB_CLIENT_ID=
WAITLIST_GITHUB_CLIENT_SECRET=

RESEND_API_KEY=
EDGE_CONFIG=
BLOB_READ_WRITE_TOKEN=

CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=

NEXT_PUBLIC_APP_URL=
# 32 byte base64 encoded random str 
API_KEY_ENCRYPTION_KEY=
# no idea
FLAGS_SECRET=